// Color variables
$base-color: #00d395;
$secondary-color: #070a0e;
$base-color-darker: #00b27e;
$base-color-darkest: #1b5c49;
$base-color-lightest: #b2ffe9;

$text-color-primary: #ffffff;
$text-color-secondary: #aab8c1;
$white-darker: #ededed;
$text-black: $secondary-color;

$light: 400;
$medium: 500;
$semi-bold: 600;