.home__container {
    position: relative;
    row-gap: 4.5rem;
    padding-top: 2rem;
}

.home__data {
    text-align: center;
}

.home__greeting {
    font-size: $small-font;
    font-weight: $medium;
}

.home__designation {
    font-size: $normal-font;
    color: $white-darker;
}

.home__greeting {
    display: block;
    margin-bottom: .25rem;
    color: $text-color-secondary;
}

.home__name {
    font-size: 1.75rem;
}

.home__img {
    width: 174px;
    transform: translateY(0.8rem);
}

.home__handle {
    justify-self: center;
    width: 200px;
    height: 276px;
    background: $gradient;
    border-radius: 10rem 10rem 1rem 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

.home__button {
    justify-self: center;
    margin-top: -1.5rem;
}

.home__social {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 4rem;
    left: 0;
    gap: .5rem;

    &-link {
        width: max-content;
        color: $base-color;
        background-color: rgba(0, 66, 46, 0.419);
        padding: .25rem;
        border-radius: .25rem;
        display: flex;
        font-size: 1rem;
        transition: .4s;

        &:hover {
            background-color: $base-color;
            color: #ffffff;
        }
    }

    &::after {
        content: '';
        width: 32px;
        height: 2px;
        background-color: $base-color;
        transform: rotate(90deg) translate(16px, 3px);
    }
}

.home__scroll {
    color: $base-color;
    position:absolute;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    right: 0;
    bottom: 4rem;

    &-icon {
        font-size: 1.25rem;
    }

    &-text {
        transform: rotate(-90deg);
        font-size: $smaller-font;
    }
}