@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import "config";

:root {
	--swiper-theme-color: #00d395 !important;
	--swiper-pagination-bullet-inactive-color: rgba(0, 66, 46, 0.419);
	--swiper-pagination-bullet-inactive-opacity: 1;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: $secondary-color;
	font-family: "Poppins", sans-serif;
	color: $text-color-primary;
	transition: 0.4s; //for light mode animation
}

.container {
	max-width: 968px;
	margin-left: 1rem;
	margin-right: 1rem;
}

.grid {
	display: grid;
}

.flex {
	display: flex;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
	border: none;
	outline: none;
}

img {
	max-width: 100%;
	height: auto;
}

.main {
	overflow: hidden;
}

.section {
	padding: 4.5rem 0 1rem;
}

.section__title,
.section__subtitle {
	text-align: center;
}

.section__title {
	color: $base-color;
	margin-bottom: 2rem;
}

.section__subtitle {
	display: block;
	color: $text-color-secondary;
}

// Buttons
.button {
	display: inline-block;
	background-color: $base-color;
	color: $secondary-color;
	padding: 0.75rem 1rem;
	border-radius: 0.5rem;
	font-weight: $medium;
	transition: 0.4s;

	&:hover {
		background-color: $base-color-darker;
	}

	&--ghost {
		background: transparent;
		border: 2px solid $base-color;
		color: $base-color;

		&:hover {
			color: $secondary-color;
			background-color: $base-color;
		}
	}
}

// Scrollbar styles
::-webkit-scrollbar {
	width: 0.6rem;
	border-radius: 0.5rem;
	background-color: rgb(56, 70, 65);
}

::-webkit-scrollbar-thumb {
	background-color: rgb(0, 60, 42);
	border-radius: 0.5rem;

	&:hover {
		background-color: rgb(0, 41, 29);
	}
}

.light-theme::-webkit-scrollbar {
	background-color: rgb(149, 187, 175);
}

.light-theme::-webkit-scrollbar-thumb {
	background-color: rgb(86, 131, 117);

	&:hover {
		background-color: rgb(76, 104, 95);
	}
}

// Importing all the partials
@import "header", "textanimation", "home", "about", "skills", "projects",
	"contact", "footer", "light", "responsive";
